.hero{
    min-height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:130px 8%;
    background:linear-gradient(135deg,#081120,#101d36,#081120);
    color:white;
}

.hero-left{
    width:50%;
    animation:fadeLeft 1s ease;
}

.tag{
    display:inline-block;
    padding:10px 20px;
    border-radius:30px;
    background:#12213d;
    color:#00d4ff;
    margin-bottom:25px;
}

.hero h1{
    font-size:62px;
    line-height:75px;
    margin-bottom:25px;
}

.hero h1 span{
    color:#00d4ff;
}

.hero p{
    color:#cbd5e1;
    line-height:1.8;
    font-size:18px;
}

.hero-buttons{
    margin-top:35px;
    display:flex;
    gap:20px;
}

.primary-btn{
    display:flex;
    align-items:center;
    gap:10px;
    padding:15px 35px;
    border:none;
    border-radius:40px;
    background:#00d4ff;
    color:#081120;
    font-weight:700;
    cursor:pointer;
    transition:.4s;
}

.primary-btn:hover{
    transform:translateY(-6px);
    box-shadow:0 15px 35px rgba(0,212,255,.4);
}

.secondary-btn{
    padding:15px 35px;
    border:2px solid #00d4ff;
    background:transparent;
    color:white;
    border-radius:40px;
    cursor:pointer;
    transition:.4s;
}

.secondary-btn:hover{
    background:#00d4ff;
    color:#081120;
}

.hero-stats{
    display:flex;
    gap:60px;
    margin-top:50px;
}

.hero-stats h2{
    color:#00d4ff;
    font-size:36px;
}

.hero-right{
    width:45%;
    display:flex;
    justify-content:center;
    animation:float 4s ease-in-out infinite;
}

.hero-right img{
    width:100%;
    max-width:520px;
}

@keyframes float{
    0%{transform:translateY(0);}
    50%{transform:translateY(-18px);}
    100%{transform:translateY(0);}
}

@keyframes fadeLeft{
    from{
        opacity:0;
        transform:translateX(-80px);
    }
    to{
        opacity:1;
        transform:translateX(0);
    }
}

@media(max-width:992px){

.hero{
    flex-direction:column;
    text-align:center;
}

.hero-left,
.hero-right{
    width:100%;
}

.hero-buttons{
    justify-content:center;
}

.hero-stats{
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.hero h1{
    font-size:42px;
    line-height:55px;
}

.hero-right{
    margin-top:40px;
}

}